@model RegionDto

<h3 class="mt-4">Edit Regions</h3>

<form method="post">
    <div class="mt-3">
        <label class="form-label" asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div class="mt-3">
        <label class="form-label" asp-for="Code">Code</label>
        <input asp-for="Code" class="form-control" />
    </div>
    <div class="mt-3">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mt-3">
        <label asp-for="RegionImageUrl">Image URL</label>
        <input asp-for="RegionImageUrl" class="form-control" />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
