@model List<RegionDto>

<h3 class="mt-3">List of Regions</h3>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-action="Create">Add Region</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Code</td>
            <td>Name</td>
            <td>Image URL</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var region in Model)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Code</td>
                <td>@region.Name</td>
                <td>@region.RegionImageUrl</td>
            </tr>
        }
    </tbody>
</table>